@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "RalewayRegular";
  font-display: swap;
  src: url("../fonts/RalewayRegular.woff2") format("woff2"), url("../fonts/RalewayRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RalewayBold";
  font-display: swap;
  src: url("../fonts/RalewayBold.woff2") format("woff2"), url("../fonts/RalewayBold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "MuseoSansBlack";
  font-display: swap;
  src: url("../fonts/MuseoSansBlack.woff2") format("woff2"), url("../fonts/MuseoSansBlack.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 18px;
  font-family: "MuseoSansBlack", "Arial", sans-serif;
  color: #024873;
  background-color: #eff6f8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  min-height: 550px;
  font-family: "MuseoSansBlack", "Arial", sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#eff6f8), color-stop(20%, rgba(239, 246, 248, 0)), color-stop(70%, rgba(239, 246, 248, 0)), color-stop(99%, #eff6f8)), url("../img/first-bg-mobile.jpg");
  background: -o-linear-gradient(bottom, #eff6f8 0%, rgba(239, 246, 248, 0) 20%, rgba(239, 246, 248, 0) 70%, #eff6f8 99%), url("../img/first-bg-mobile.jpg");
  background: linear-gradient(0deg, #eff6f8 0%, rgba(239, 246, 248, 0) 20%, rgba(239, 246, 248, 0) 70%, #eff6f8 99%), url("../img/first-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 5%;
}

.header__logo {
  z-index: 5;
}

.header__logo svg {
  width: 73px;
  height: 30px;
}

.header .menu__icon {
  position: relative;
  display: block;
  right: 0;
  width: 20px;
  height: 12px;
  z-index: 2;
  cursor: pointer;
  background-color: rgba(54, 25, 25, 0.00004);
}

.header .menu__icon span,
.header .menu__icon::before,
.header .menu__icon::after {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #024873;
  border-radius: 5px;
}

.header .menu__icon::before,
.header .menu__icon::after {
  content: "";
}

.header .menu__icon::before {
  top: 0;
}

.header .menu__icon::after {
  width: 10px;
  bottom: 0;
}

.header .menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header .menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header .menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header .menu__icon._active::after {
  width: 100%;
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.header .container {
  margin: 0 5%;
}

.header .header__tittle {
  margin-top: 155px;
  font-size: 36px;
  font-weight: bold;
}

.header .header__tittle h1 {
  font-weight: bold;
}

.header .header__tittle--country {
  color: #ff843f;
}

.main__container {
  margin: 70px 5% 10px 5%;
}

.places {
  position: relative;
  width: 370px;
  text-align: center;
  margin: 0 auto;
}

.places__tittle {
  margin-bottom: 25px;
  font-size: 24px;
}

.places__text {
  width: 370px;
  margin-bottom: 30px;
  font-family: "RalewayRegular";
  font-size: 16px;
}

.slider-count {
  position: absolute;
  top: 200px;
}

.slider-count__current {
  margin-right: 30px;
  font-size: 48px;
}

.slider-count__total {
  color: #bdbdbd;
}

.slick-arrow {
  width: 45px;
  height: 45px;
  font-size: 0;
  border: 2px solid #ff843f;
  border-radius: 50%;
  z-index: 100;
  background-color: rgba(54, 25, 25, 0.00004);
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  position: absolute;
  right: 0;
  top: 230px;
}

.slick-arrow.slick-prev {
  right: 100px;
}

.slick-arrow.slick-prev::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 13px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 1L1 7.5L7 14" stroke="%23FF843F"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
}

.slick-arrow.slick-prev:hover {
  opacity: 0.5;
}

.slick-arrow.slick-prev:active {
  opacity: 0.2;
}

.slick-arrow.slick-next {
  margin-right: 30px;
}

.slick-arrow.slick-next::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 13px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1 14L7 7.5L1 1" stroke="%23FF5C00"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
}

.slick-arrow.slick-next:hover {
  opacity: 0.5;
}

.slick-arrow.slick-next:active {
  opacity: 0.2;
}

.slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 90px;
}

.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 470px;
}

.slick-dots li button {
  width: 70px;
  height: 5px;
  font-size: 0;
  color: #000;
}

.slick-dots li.slick-active button {
  border-radius: 5px;
  background-color: #90afff;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
  text-align: center;
  padding-bottom: 200px;
}

.slider__item {
  position: relative;
  min-height: 270px;
  margin: 0 10px;
  margin-top: 20px;
}

.slider__item img {
  width: 239px;
  border-radius: 30px;
}

.slider__name {
  position: absolute;
  font-size: 20px;
  left: 50px;
  bottom: 45px;
  font-family: "RalewayBold";
  font-size: 24px;
  color: #ffffff;
}

.slider .slick-slide.slick-active img {
  margin-top: -20px;
  width: 275px;
  -webkit-box-shadow: 15px 10px 9px 0px rgba(202, 219, 228, 0.72);
          box-shadow: 15px 10px 9px 0px rgba(202, 219, 228, 0.72);
  -webkit-transition: all 0.4s linear 0s;
  -o-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }

  .header {
    min-height: 950px;
    font-family: "MuseoSansBlack", "Arial", sans-serif;
    background: -webkit-gradient(linear, left bottom, left top, from(#eff6f8), color-stop(20%, rgba(239, 246, 248, 0)), color-stop(70%, rgba(239, 246, 248, 0)), color-stop(99%, #eff6f8)), url("../img/first-bg-desctop.jpg");
    background: -o-linear-gradient(bottom, #eff6f8 0%, rgba(239, 246, 248, 0) 20%, rgba(239, 246, 248, 0) 70%, #eff6f8 99%), url("../img/first-bg-desctop.jpg");
    background: linear-gradient(0deg, #eff6f8 0%, rgba(239, 246, 248, 0) 20%, rgba(239, 246, 248, 0) 70%, #eff6f8 99%), url("../img/first-bg-desctop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__container {
    margin: 40px 7.5%;
  }

  .header__logo svg {
    width: 122px;
    height: 50px;
  }

  .header .menu__icon {
    display: none;
  }

  .header .menu__body a:hover {
    color: #ff843f;
  }

  .header .menu__body a:active {
    opacity: 0.3;
  }

  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header .menu .list__items {
    vertical-align: middle;
    font-family: "RalewayBold";
    font-weight: bold;
    padding: 20px 0;
  }

  .header .menu .list__items:nth-child(7) {
    margin-left: 20px;
    color: #ffffff;
    background-color: #ff843f;
    border-radius: 30px;
  }

  .header .menu .list__items:nth-child(7) a {
    padding: 20px 25px;
    color: #ffffff;
  }

  .header .menu a {
    padding: 15px 20px;
    color: #024873;
  }

  .header .desktop {
    display: block;
  }

  .header .container {
    margin: 0 7.5%;
  }

  .header .header__tittle {
    width: 588px;
    margin-top: 280px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  .header .header__tittle--country {
    color: #ff843f;
  }

  .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 7.5%;
    text-align: right;
  }

  .places {
    width: 440px;
    margin: 0;
    text-align: left;
  }

  .places__tittle {
    font-size: 36px;
  }

  .places__text {
    width: 440px;
    font-size: 18px;
  }

  .slider-dots {
    margin: 0;
  }

  .slick-dots {
    top: 250px;
  }

  .slick-dots li button {
    width: 70px;
    height: 5px;
  }

  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    min-width: 0;
    margin-bottom: 50px;
  }

  .slider__item img {
    width: 325px;
  }

  .slider .slick-slide.slick-active img {
    width: 373px;
  }
}

@media (max-width: 1200px) {
  .desktop {
    display: none;
  }

  .header .menu__body {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 450px;
    background-color: #eff6f8;
    padding-top: 25px;
    padding-left: 20%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .header .menu__body._active {
    left: 0;
  }

  .header .menu__body::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
  }

  .header .menu__list {
    width: 80%;
    font-family: "RalewayBold";
    font-weight: bold;
  }

  .header .menu__list a {
    padding: 15px 40px;
    color: #024873;
  }

  .header .menu__list a:hover,
  .header .menu__list a:focus {
    color: #ff853f;
    opacity: 0.7;
  }

  .header .menu__list a:active {
    opacity: 0.3;
  }

  .header .menu__list .list__items {
    width: 90%;
    margin: 0 10%;
    padding: 15px 0;
    text-align: center;
    border-bottom: 2px solid #ff843f;
  }

  .header .menu__list .list__items:nth-child(7) {
    vertical-align: middle;
    color: #ffffff;
    background-color: #ff843f;
    border-radius: 30px;
    margin-top: 10px;
  }

  .header .menu__list .list__items:nth-child(7) a {
    color: #ffffff;
  }
}